@media (min-width:100px) and (max-width:385px){   /* Iphone SE*/
    /* .bg-img {
        background-image: url(/Img/BG/280.jpg) !important;
     }
     .bg-logo {
         position: relative;
         right: 20px;
         top: -12px;
     }
     .bg-logo .fs-logo{
        width: 80px;
        height: 80px;
     }
    .tomato-2 {
        position: relative;
        bottom: 375px;
        left: -25px;
    }
    .rotateimg .pizza {
        position: absolute;
        width: 75%;
        left: 48px;
        top: 70px;
        animation: spin  8s linear infinite;
        padding: 15px;
    }
    @keyframes spin {
        from {transform: rotate(0deg)}
        to {transform: rotate(360deg)} 
    }
    .duplicate{
        position: absolute;
        top: 75px;
        left: 55px;
        border-radius: 60%;
        padding: 130px;
        border: 3px dashed rgb(255, 255, 255);
        width: 120px;
        height: 120px;
    }
    .plater-left {
        position: absolute;
        z-index: 1;
        top: 190px;
        left: 25px;
        width: 50px;
        height: 50px;
    }
    .plater-right{
        position: absolute;
        z-index: 1;
        right: 25px;
        top: 190px;
        width: 50px;
        height: 50px;
    }
    .plater-top{
        position: absolute;
        z-index: 1;
        right: 155px;
        top: 51px;
        width: 50px;
        height: 50px;
    }
    .plater-bottom {
        position: absolute;
        z-index: 1;
        right: 155px;
        top: 325px;
        width: 50px;
        height: 50px;
    }
}
@media only screen
and (min-width: 386px)
and (max-width: 600px)      /* xr,!2
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait){
    .bg-img{
        background-image: url(/Img/BG/280.jpg);
     }
     .bg-logo {
         position: relative;
         right: 20px;
         top: -12px;
     }
     .bg-logo .fs-logo{
        width: 80px;
        height: 80px;
     }
    .tomato-2 {
        position: relative;
        bottom: 375px;
        left: -25px;
    }
    .rotateimg .pizza {
        position: absolute;
        width: 78%;
        left: 30px;
        top: 70px;
        animation: spin  8s linear infinite;
        padding: 15px;
    }
    @keyframes spin {
        from {transform: rotate(0deg)}
        to {transform: rotate(360deg)} 
    }
    .duplicate{
        position: absolute;
        top: 85px;
        left: 45px;
        border-radius: 60%;
        padding: 150px;
        border: 3px dashed rgb(255, 255, 255);
        width: 120px;
        height: 120px;
    }
    .plater-left {
        position: absolute;
        z-index: 1;
        top: 210px;
        left: 20px;
        width: 50px;
        height: 50px;
    }
    .plater-right{
        position: absolute;
        z-index: 1;
        right: 46px;
        top: 210px;
        width: 50px;
        height: 50px;
    }
    .plater-top{
        position: absolute;
        z-index: 1;
        right: 190px;
        top: 55px;
        width: 50px;
        height: 50px;
    }
    .plater-bottom {
        position: absolute;
        z-index: 1;
        right: 190px;
        top: 370px;
        width: 50px;
        height: 50px;
    }
}
@media (min-width:600px) and (max-width:900px){
    .bg-img{
        background-image: url(/Img/Untitled\ design.jpg);
     }
     .bg-logo {
         position: relative;
         right: 20px;
         top: -12px;
     }
     .bg-logo .fs-logo{
        width: 80px;
        height: 80px;
     }
     .rotateimg .pizza {
        position: absolute;
        top: 60px;
        width: 60%;
        left: 22%;
     }
     .duplicate{
        position: absolute;
        top: 60px;
        left: 150px;
        border-radius: 60%;
        padding: 150px;
        border: 3px dashed rgb(245, 46, 46);
        width: 420px;
        height: 420px;
    }
}

@media (min-width:768px) {
    /*  visible when on a screen  768px or larger 
    .chilli {
        position: relative;
        bottom: 290px;
        left: 30px;
        width: 150px;
        height: 150px;
        filter: blur(1.8px);
    }
    .chilli-2 {
        position: relative;
        bottom: 450px;
        left: 1380px;
        width: 110px;
    }
    
    .tomato-1 {
        position: relative;
        bottom: 520px;
        left: 280px;
        width: 110px;
        height: 110px;
    }
    
    .capsicum-1 {
        position: relative;
        float: right;
        bottom: 290px;
        right: 30px;
    }
    
    .mint-1 {
        position: relative;
        bottom: 600px;
        float: right;
        right: -120px;
        filter: blur(1.5px);
    }
    
    .tomato-2 {
        position: relative;
        bottom: 745px;
        left: -10px;
    }
    
    .onion-1 {
        position: relative;
        left: 530px;
        bottom: 490px;
        height: 120px;
        filter: blur(2px);
    }
    
    .onion-2 {
        position: relative;
        left: 610px;
        bottom: 850px;
        height: 100px;
    }
    
    /* Rotating Img 
    
    .duplicate {
        position: absolute;
        bottom: 150px;
        z-index: 1;
        left: 1065px;
        width: 420px;
        height: 420px;
        border-radius: 60%;
        padding: 90px;
        border: 3px dashed rgb(255, 255, 255);
    }
    .rotateimg .pizza{
        position: relative;
        z-index: 2;
        top: 205px;
        left: 1050px;
        width: 450px;
        height: 450px;
        border-radius: 60%;
        padding: 30px;
        animation: spin 9s linear infinite;
    }
    @keyframes spin {
        0%   {-webkit-transform: rotate(0deg)}
        100% {-webkit-transform: rotate(360deg)}
    }
    
    .plater-left{
        position: relative;
        bottom: 820px;
        width: 75px;
        left: 1020px;
        z-index: 2;
    }
    .plater-top{
        position: relative;
        bottom: 1115px;
        width: 75px;
        left: 1230px;
        z-index: 2;
    }
    .plater-bottom{
        position: relative;
        bottom: 850px;
        width: 75px;
        left: 1260px;
        z-index: 2;
    }
    .plater-right{
        position: relative;
        bottom: 980px;
        width: 75px;
        left: 1455px;
        z-index: 2;
    }
}
@media (min-width:900px) and (min-width:1200px) {
    .chilli {
        position: relative;
        bottom: 290px;
        left: 30px;
        width: 150px;
        height: 150px;
        filter: blur(1.8px);
    }
    .chilli-2 {
        position: relative;
        bottom: 450px;
        left: 1380px;
        width: 110px;
    }
    
    .tomato-1 {
        position: relative;
        bottom: 520px;
        left: 280px;
        width: 110px;
        height: 110px;
    }
    
    .capsicum-1 {
        position: relative;
        float: right;
        bottom: 290px;
        right: 30px;
    }
    
    .mint-1 {
        position: relative;
        bottom: 600px;
        float: right;
        right: -120px;
        filter: blur(1.5px);
    }
    
    .tomato-2 {
        position: relative;
        bottom: 745px;
        left: -10px;
    }
    
    .onion-1 {
        position: relative;
        left: 430px;
        bottom: 320px;
        height: 120px;
        filter: blur(2px);
    }
    
    .onion-2 {
        position: relative;
        left: 610px;
        bottom: 850px;
        height: 100px;
    }
}








.duplicate {
        position: relative;
        left: 45px;
        bottom: 485px;
        border-radius: 60%;
        padding: 170px;
        border: 2px dashed rgb(255, 255, 255);
    }